body {
 background-color: rgb(223, 171, 171);

}
table {
   background-color: aquamarine;
   border :3px solid #000;
   border-style: inset;
      
}
tr,td {
    padding: 2px;
    border-style: solid;
}